.benefits {
  position: relative;
  background-color: #f3f5f9;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.1fr 1fr 0.1fr;
      grid-template-columns: 0.1fr 1fr 0.1fr;
  -ms-grid-rows: 30vh 70vh;
      grid-template-rows: 30vh 70vh;
      grid-template-areas: ". head ." ". container .";
}

.benefits .container {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: container;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefits .container .card {
  position: relative;
  color: #1c2559;
  cursor: pointer;
  background-color: #f3f5f9;
  width: 210px;
  height: 55%;
  margin: 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.5), 15px 15px 15px rgba(148, 176, 232, 0.05), inset -4px -4px 5px rgba(225, 232, 247, 0.8), inset 4px 4px 5px rgba(255, 255, 255, 0.05), 0px 50px 40px rgba(255, 255, 255, 0.05);
          box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.5), 15px 15px 15px rgba(148, 176, 232, 0.05), inset -4px -4px 5px rgba(225, 232, 247, 0.8), inset 4px 4px 5px rgba(255, 255, 255, 0.05), 0px 50px 40px rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}

.benefits .container .card:hover .border {
  -webkit-clip-path: circle(70%);
          clip-path: circle(70%);
}

.benefits .container .card:hover::after {
  -webkit-clip-path: circle(0% at 0% 0%);
          clip-path: circle(0% at 0% 0%);
}

.benefits .container .card .border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid #1c2559;
  border-radius: 10px;
  -webkit-clip-path: circle(5% at 100% 100%);
          clip-path: circle(5% at 100% 100%);
  -webkit-transition: -webkit-clip-path 300ms ease-in-out;
  transition: -webkit-clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out;
  transition: clip-path 300ms ease-in-out, -webkit-clip-path 300ms ease-in-out;
}

.benefits .container .card::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2c029;
  -webkit-clip-path: circle(20% at 0% 0%);
          clip-path: circle(20% at 0% 0%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.benefits .container .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.benefits .container .card .content {
  text-align: center;
  font-family: oswald;
  padding: 0px 10px;
}

.benefits .container .card .content h4 {
  font-family: "montserrat";
  margin-bottom: 20px;
  font-weight: 600;
}

.benefits .container .card .content p {
  font-family: "oswald";
  font-weight: 300;
  font-size: 18px;
  padding: 0 10px;
}

.benefits .head {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: head;
  text-align: center;
  color: #1c2559;
}

.benefits .head h1 {
  font-family: "montserrat";
  font-weight: 800;
  font-size: 50px;
  margin: 50px 0;
}

.benefits .head p {
  font-family: "oswald";
  font-size: 20px;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat";
  font-weight: 500;
}

#login-pop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#login-pop #close-login {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  right: 15px;
  top: 15px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
          box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
}

#login-pop #close-login:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#login-pop #close-login svg {
  stroke: #1c2559;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#login-pop .login-card {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f3f5f9;
  width: 350px;
  height: 480px;
  border-radius: 20px;
  color: #1c2559;
  overflow: hidden;
}

#login-pop .login-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2c029;
  -webkit-clip-path: circle(18% at 0% 0%);
          clip-path: circle(18% at 0% 0%);
}

#login-pop .login-card .login-head {
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-weight: 600;
}

#login-pop .login-card .login-details {
  position: relative;
  width: 78%;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

#login-pop .login-card .login-details .input {
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#login-pop .login-card .login-details .input input {
  width: 100%;
  height: 100%;
  padding: 0px 1px;
  padding-top: 8px;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 16px;
  border: none;
  color: #1c2559;
  background-color: #f3f5f9 !important;
}

#login-pop .login-card .login-details .input input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#login-pop .login-card .login-details .input input:focus {
  outline: none;
}

#login-pop .login-card .login-details .input input:focus + .label-name .content-name,
#login-pop .login-card .login-details .input input:valid + .label-name .content-name {
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
}

#login-pop .login-card .login-details .input input:focus + .label-name::after,
#login-pop .login-card .login-details .input input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#login-pop .login-card .login-details .input label {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 0%;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #4e63d9;
}

#login-pop .login-card .login-details .input label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  background: #3fa9f5;
  /* fallback for old browsers */
  border-radius: 10px;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3fa9f5), to(#4e63d9));
  background: linear-gradient(to right, #3fa9f5, #4e63d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: -1px;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

#login-pop .login-card .login-details .input label .content-name {
  position: absolute;
  top: 40%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

#login-pop .login-card .login-details .login-btn {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background: linear-gradient(120deg, #3fa9f5, #4e63d9, #3fa9f5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-size: 200%;
}

#login-pop .login-card .login-details .login-btn:hover {
  background-position: right;
}

#login-pop .login-card .forgot-signup {
  font-size: 15px;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login-pop .login-card .forgot-signup #have-signup-btn a {
  color: #4e63d9;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  background-color: #f3f5f9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat";
  font-weight: 500;
}

#signup-pop {
  display: none;
  z-index: 999;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#signup-pop #signup-card-1 {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f3f5f9;
  width: 350px;
  height: 520px;
  border-radius: 20px;
  color: #1c2559;
  overflow: hidden;
}

#signup-pop #signup-card-1::after {
  content: "";
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2c029;
  -webkit-clip-path: circle(18% at 0% 0%);
          clip-path: circle(18% at 0% 0%);
}

#signup-pop #signup-card-1 #close-signupc1 {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  right: 15px;
  top: 15px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
          box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
}

#signup-pop #signup-card-1 #close-signupc1:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#signup-pop #signup-card-1 #close-signupc1 svg {
  stroke: #1c2559;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#signup-pop #signup-card-1 .signup-head {
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-weight: 600;
}

#signup-pop #signup-card-1 .signup-details {
  position: relative;
  width: 78%;
  height: 340px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#signup-pop #signup-card-1 .signup-details .input {
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#signup-pop #signup-card-1 .signup-details .input input {
  width: 100%;
  height: 100%;
  padding: 0px 1px;
  padding-top: 8px;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 16px;
  border: none;
  color: #1c2559;
  background-color: #f3f5f9 !important;
}

#signup-pop #signup-card-1 .signup-details .input input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#signup-pop #signup-card-1 .signup-details .input input:focus {
  outline: none;
}

#signup-pop #signup-card-1 .signup-details .input input:focus + .label-name .content-name,
#signup-pop #signup-card-1 .signup-details .input input:valid + .label-name .content-name {
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
}

#signup-pop #signup-card-1 .signup-details .input input:focus + .label-name::after,
#signup-pop #signup-card-1 .signup-details .input input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#signup-pop #signup-card-1 .signup-details .input label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #4e63d9;
}

#signup-pop #signup-card-1 .signup-details .input label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  background: #3fa9f5;
  /* fallback for old browsers */
  border-radius: 10px;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3fa9f5), to(#4e63d9));
  background: linear-gradient(to right, #3fa9f5, #4e63d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: -1px;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#signup-pop #signup-card-1 .signup-details .input label .content-name {
  position: absolute;
  top: 40%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

#signup-pop #signup-card-1 .signup-details #next {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background: linear-gradient(120deg, #3fa9f5, #4e63d9, #3fa9f5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-size: 200%;
}

#signup-pop #signup-card-1 .signup-details #next:hover {
  background-position: right;
}

#signup-pop #signup-card-1 .haveacc {
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-1 .haveacc #have-login-btn1 a {
  color: #4e63d9;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  background-color: #f3f5f9;
}

#signup-pop #signup-card-1 .page-number {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-1 .page-number span {
  cursor: pointer;
  font-size: 10px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#signup-pop #signup-card-1 .page-number span:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #fae091;
}

#signup-pop #signup-card-1 .page-number #one1 {
  background-color: #f2c029;
  color: #1c2559;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat";
  font-weight: 500;
}

#signup-pop {
  display: none;
  z-index: 999;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#signup-pop #signup-card-2 {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f3f5f9;
  width: 350px;
  height: 520px;
  border-radius: 20px;
  color: #1c2559;
  overflow: hidden;
}

#signup-pop #signup-card-2::after {
  content: "";
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2c029;
  -webkit-clip-path: circle(18% at 0% 0%);
          clip-path: circle(18% at 0% 0%);
}

#signup-pop #signup-card-2 #close-signupc2 {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  right: 15px;
  top: 15px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
          box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
}

#signup-pop #signup-card-2 #close-signupc2:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#signup-pop #signup-card-2 #close-signupc2 svg {
  stroke: #1c2559;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#signup-pop #signup-card-2 .signup-head {
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-weight: 600;
}

#signup-pop #signup-card-2 .signup-details {
  position: relative;
  width: 78%;
  height: 340px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#signup-pop #signup-card-2 .signup-details .inputr {
  position: relative;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-2 .signup-details .inputr .radio-field {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#signup-pop #signup-card-2 .signup-details .inputr .radio-field input {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background-color: #f3f5f9;
  -webkit-box-shadow: 5px 5px 10px #d1d3d6, -4px -4px 8px #ffffff;
          box-shadow: 5px 5px 10px #d1d3d6, -4px -4px 8px #ffffff;
  border-radius: 50%;
  border: 1px solid #f3f5f9;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#signup-pop #signup-card-2 .signup-details .inputr .radio-field input::after {
  content: "";
  position: absolute;
  background-color: #f3f5f9;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
          box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
}

#signup-pop #signup-card-2 .signup-details .inputr .radio-field input:checked::after {
  background: linear-gradient(-45deg, #3fa9f5, #4e63d9);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#signup-pop #signup-card-2 .signup-details .inputr .radio-field .label-name {
  top: 90%;
  position: absolute;
}

#signup-pop #signup-card-2 .signup-details .input {
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#signup-pop #signup-card-2 .signup-details .input input {
  width: 100%;
  height: 100%;
  padding: 0px 1px;
  padding-top: 8px;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 16px;
  border: none;
  color: #1c2559;
  background-color: #f3f5f9 !important;
}

#signup-pop #signup-card-2 .signup-details .input input:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#signup-pop #signup-card-2 .signup-details .input input:focus {
  outline: none;
}

#signup-pop #signup-card-2 .signup-details .input input:focus + .label-name .content-name,
#signup-pop #signup-card-2 .signup-details .input input:valid + .label-name .content-name {
  -webkit-transform: translateY(-180%);
          transform: translateY(-180%);
}

#signup-pop #signup-card-2 .signup-details .input input:focus + .label-name::after,
#signup-pop #signup-card-2 .signup-details .input input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#signup-pop #signup-card-2 .signup-details .input label {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #4e63d9;
}

#signup-pop #signup-card-2 .signup-details .input label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0px;
  background: #3fa9f5;
  /* fallback for old browsers */
  border-radius: 10px;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3fa9f5), to(#4e63d9));
  background: linear-gradient(to right, #3fa9f5, #4e63d9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: -1px;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#signup-pop #signup-card-2 .signup-details .input label .content-name {
  position: absolute;
  top: 40%;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

#signup-pop #signup-card-2 .signup-details #next2 {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background: linear-gradient(120deg, #3fa9f5, #4e63d9, #3fa9f5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-size: 200%;
}

#signup-pop #signup-card-2 .signup-details #next2:hover {
  background-position: right;
}

#signup-pop #signup-card-2 .haveacc {
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-2 .haveacc #have-login-btn2 a {
  color: #4e63d9;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  background-color: #f3f5f9;
}

#signup-pop #signup-card-2 .page-number {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-2 .page-number span {
  cursor: pointer;
  font-size: 10px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#signup-pop #signup-card-2 .page-number span:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #fae091;
}

#signup-pop #signup-card-2 .page-number #two2 {
  background-color: #f2c029;
  color: #1c2559;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat";
  font-weight: 500;
}

#signup-pop {
  display: none;
  z-index: 999;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#signup-pop #signup-card-3 {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #f3f5f9;
  width: 350px;
  height: 520px;
  border-radius: 20px;
  color: #1c2559;
  overflow: hidden;
}

#signup-pop #signup-card-3::after {
  content: "";
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2c029;
  -webkit-clip-path: circle(18% at 0% 0%);
          clip-path: circle(18% at 0% 0%);
}

#signup-pop #signup-card-3 #close-signupc3 {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  right: 15px;
  top: 15px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
          box-shadow: 3px 3px 6px #d1d3d6, -3px -3px 6px #ffffff;
}

#signup-pop #signup-card-3 #close-signupc3:hover svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#signup-pop #signup-card-3 #close-signupc3 svg {
  stroke: #1c2559;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#signup-pop #signup-card-3 .signup-head {
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-weight: 600;
}

#signup-pop #signup-card-3 .signup-details {
  position: relative;
  width: 78%;
  height: 340px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-3 .signup-details .input {
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-3 .signup-details .input .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #4e63d9 transparent transparent transparent;
}

#signup-pop #signup-card-3 .signup-details .input .select-selected.select-arrow-active:after {
  border-color: transparent transparent #4e63d9 transparent;
  top: 7px;
}

#signup-pop #signup-card-3 .signup-details .input .college,
#signup-pop #signup-card-3 .signup-details .input .dept {
  position: absolute;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 16px;
  top: -25px;
  left: 0;
  z-index: 1;
}

#signup-pop #signup-card-3 .signup-details .input .select-hide {
  display: none;
}

#signup-pop #signup-card-3 .signup-details .input .select-items div:hover,
#signup-pop #signup-card-3 .signup-details .input .same-as-selected {
  background-color: #94b0e8;
}

#signup-pop #signup-card-3 .signup-details .input .select-items {
  position: absolute;
  background-color: #f3f5f9;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  height: 150px;
  overflow: auto;
  scrollbar-color: #f3f5f9;
  scrollbar-width: 5px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}

#signup-pop #signup-card-3 .signup-details .input .select-items::-webkit-scrollbar {
  width: 5px;
}

#signup-pop #signup-card-3 .signup-details .input .select-items::-webkit-scrollbar-track {
  background: #f3f5f9;
}

#signup-pop #signup-card-3 .signup-details .input .select-items::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg, #3fa9f5, #4e63d9);
  border-radius: 50px;
}

#signup-pop #signup-card-3 .signup-details .input .select-items::-webkit-scrollbar-thumb:hover {
  background: #4e63d9;
  cursor: pointer;
}

#signup-pop #signup-card-3 .signup-details .input .select-items div,
#signup-pop #signup-card-3 .signup-details .input .select-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 2px;
  color: #1c2559;
  height: 40px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#signup-pop #signup-card-3 .signup-details .input .select-selected {
  background-color: #f3f5f9;
  border-bottom: 2px solid #4e63d9;
  z-index: 99;
}

#signup-pop #signup-card-3 .signup-details .input .custom-select {
  width: 100%;
  height: 40px;
  position: relative;
  font-family: montserrat;
}

#signup-pop #signup-card-3 .signup-details .input .custom-select select {
  display: none;
}

#signup-pop #signup-card-3 .signup-details #submit {
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: #fff;
  background: linear-gradient(120deg, #3fa9f5, #4e63d9, #3fa9f5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-size: 200%;
}

#signup-pop #signup-card-3 .signup-details #submit:hover {
  background-position: right;
}

#signup-pop #signup-card-3 .haveacc {
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-3 .haveacc #have-login-btn3 a {
  color: #4e63d9;
  font-weight: 600;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  line-height: 35px;
  display: inline-block;
  background-color: #f3f5f9;
}

#signup-pop #signup-card-3 .page-number {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signup-pop #signup-card-3 .page-number span {
  cursor: pointer;
  font-size: 10px;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#signup-pop #signup-card-3 .page-number span:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background-color: #fae091;
}

#signup-pop #signup-card-3 .page-number #three3 {
  background-color: #f2c029;
  color: #1c2559;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.error {
  position: absolute;
  top: 110%;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: red;
}

.error-pass {
  position: absolute;
  top: 105%;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #4e63d9;
  -webkit-text-fill-color: #4e63d9;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "montserrat";
  font-weight: 400;
  background-color: #f3f5f9;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

main section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.hero {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr 1fr 1fr 0.1fr;
      grid-template-columns: 0.2fr 1fr 1fr 0.1fr;
  -ms-grid-rows: 120px 250px 250px;
      grid-template-rows: 120px 250px 250px;
      grid-template-areas: ". . nav ." ". header svg ." ". lines svg .";
}

.hero .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.hero .nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .nav a {
  cursor: pointer;
  font-family: "oswald";
  font-weight: 400;
  font-size: 17px;
  color: #fff;
  display: block;
  padding: 0.4em 1.5em;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero .nav a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero .nav .signup-btn {
  background-color: #81d8b0;
  color: #4e63d9;
}

.hero .header {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero .header h1 {
  color: #1c2559;
  font-family: "montserrat";
  font-weight: 900;
  font-size: 60px;
  padding: 0;
  margin: 0;
}

.hero .svg {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: svg;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .svg .shadow {
  position: absolute;
  width: 395px;
  height: 100px;
  top: 75%;
}

.hero .lines {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: lines;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .lines p {
  padding-top: 10px;
  font-family: "oswald";
  font-weight: 300;
  font-size: 25px;
  color: #1c2559;
  justify-self: flex-start;
}

.hero .lines .register {
  color: #1c2559;
  cursor: pointer;
  position: relative;
  border: none;
  padding: 0.5em 2em;
  border-radius: 50px;
  font-family: "oswald";
  font-weight: 400;
  font-size: 17px;
  display: inline-block;
  background-color: none;
  text-decoration: none;
  border: 3px solid #f2c029;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  overflow: hidden;
}

.hero .lines .register::before {
  background-color: #f2c029;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hero .lines .register::before {
  width: 0;
  height: 100%;
}

.hero .lines .register:hover::before {
  width: 100%;
  height: 100%;
}

.hero .empty {
  grid-area: empty;
}
/*# sourceMappingURL=index.css.map */