body {
  background-color: #f8d659;
  font-family: changa one;
}

#logo {
  font-family: changa one;
  position: absolute;
}
#navbar {
  float: right;
}

ul > li {
  font-family: changa one;
  padding: 10px 25px 10px 25px;
  margin-right: 60px;
  margin-top: 20px;
  display: inline;
  color: #341e00;
  background-color: #f8d659;
  border-radius: 50px;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}
ul > li:hover {
  box-shadow: 0px 0px 10px 0px #f5454e;
}

.benefits {
  position: absolute;
  width: 350px;
  height: 500px;
  background-color: #f1f1f1;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  border-radius: 30px 0px 0px 30px;
}

.signup {
  color: #ffffff;
  background-color: #f5454e;
}

.middle2 {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
.card2 {
  width: 350px;
  height: 520px;
  cursor: pointer;
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 0px 30px 30px 0;
  transition: transform 0.5s linear;
}

.front-content {
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
}

.front {
  transform: perspective(800px) rotateY(0deg);
}

.back {
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  transform: perspective(800px) rotateY(180deg);
}

.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.back-content > h1 {
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
}

.back-content > h2 {
  justify-self: flex-start;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
  padding-bottom: 15px;
}

.back-content > .inputs {
  position: relative;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.back-content > .inputs2 {
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.label-names1 {
  opacity: 30%;
  height: 100%;
  position: absolute;
  align-self: center;
  top: -56px;
  left: 35px;
  pointer-events: none;
}
.label-names2 {
  opacity: 30%;
  height: 100%;
  position: absolute;
  align-self: center;
  top: -4px;
  left: 35px;
  pointer-events: none;
}

.label-names3 {
  opacity: 30%;
  height: 100%;
  position: absolute;
  align-self: center;
  top: 51px;
  left: 35px;
  pointer-events: none;
}

.label-names5 {
  opacity: 30%;
  height: 100%;
  position: relative;
  align-self: center;
  bottom: 59px;
  right: 74px;
  pointer-events: none;
}

.label-names4 {
  opacity: 30%;
  height: 100%;
  position: relative;
  align-self: center;
  bottom: 77px;
  right: 95px;
  pointer-events: none;
}
.studentl {
  position: absolute;
  bottom: 20px;
  left: 70px;
}

.teacherl {
  position: absolute;
  bottom: 20px;
  right: 50px;
}
input,
select {
  font-family: changa;
  font-size: 20px;
  position: relative;
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  align-self: center;
  border: none;
  text-decoration: none;
  background-color: #f1f1f1;
  border-bottom: 1px solid #f5454e;
}
.inputs2 > input,
.sel {
  position: relative;
  font-size: 15px;
  height: 50px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.forgot {
  font-family: roboto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
}

.card1:hover > .front {
  transform: perspective(800px) rotateY(-180deg);
}

.card1:hover > .back {
  transform: perspective(800px) rotateY(0deg);
}

.card2:hover > .front {
  transform: perspective(800px) rotateY(-180deg);
}

.card2:hover > .back {
  transform: perspective(800px) rotateY(0deg);
}

button {
  position: relative;
  top: 20px;
  font-family: changa;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  width: 80%;
  height: 40px;
  border-radius: 50px;
  border: none;
  color: #ffffff;
  background-color: #f5454e;
}

.signb {
  margin-bottom: 25px;
}

option {
  font-size: 17px;
  border: none;
}

textarea:focus,
input:focus,
option:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.radiob {
  top: 5px;
  height: 20px;
  position: relative;
  right: 40px;
}

.radio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
