.benefits {
	position: relative;
	background-color: $back-blue;
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 0.1fr 1fr 0.1fr;
	grid-template-rows: 30vh 70vh;
	grid-template-areas:
		". head ."
		". container .";

	.container {
		position: relative;
		grid-area: container;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;

		.card {
			position: relative;
			color: $main-font;
			cursor: pointer;
			background-color: $back-blue;
			width: 210px;
			height: 55%;
			margin: 10px 20px;
			border-radius: 10px;
			box-shadow: -15px -15px 15px rgba($color: #fff, $alpha: 0.5),
				15px 15px 15px rgba($color: #94b0e8, $alpha: 0.05),
				inset -4px -4px 5px rgba($color: #e1e8f7, $alpha: 0.8),
				inset 4px 4px 5px rgba($color: #fff, $alpha: 0.05),
				0px 50px 40px rgba($color: #fff, $alpha: 0.05);
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			transition: all 200ms ease-in-out;
			overflow: hidden;

			&:hover .border {
				clip-path: circle(70%);
			}

			&:hover::after {
				clip-path: circle(0% at 0% 0%);
			}

			.border {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border: 2px solid $main-font;
				border-radius: 10px;
				clip-path: circle(5% at 100% 100%);
				transition: clip-path 300ms ease-in-out;
			}

			&::after {
				content: "";
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				background-color: $main-button;
				clip-path: circle(20% at 0% 0%);
				transition: all 300ms ease-in-out;
			}

			&:hover {
				transform: scale(1.05);
			}

			.content {
				text-align: center;
				font-family: oswald;
				padding: 0px 10px;

				h4 {
					font-family: "montserrat";
					margin-bottom: 20px;
					font-weight: 600;
				}

				p {
					font-family: "oswald";
					font-weight: 300;
					font-size: 18px;
					padding: 0 10px;
				}
			}
		}
	}
	.head {
		grid-area: head;
		text-align: center;
		color: $main-font;

		h1 {
			font-family: "montserrat";
			font-weight: 800;
			font-size: 50px;
			margin: 50px 0;
		}

		p {
			font-family: "oswald";
			font-size: 20px;
			font-weight: 300;
		}
	}
}
