$inactive:#BDBDC2;
$info_text: #a9a9ac;
$acc-yellow:#FED201;
$acc-red:#F65164;
$main-font: #2D364F;
//new pallete
$onyx: #393d3f;
$bluetiful: #0068ff;
$cultured: #f0f3f5;
$red-salsa: #fb3741;
$sunglow: #ffd037;
//gradient
$gradient-one: #20BDFF;