* a {
  text-decoration: none;
  color: #1c2559;
  display: inline-block;
}

body {
  font-family: "montserrat";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body main {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  color: #1c2559;
  -ms-grid-columns: 5vw 65vw 30vw;
      grid-template-columns: 5vw 65vw 30vw;
  -ms-grid-rows: 70px 0.95fr 0.95fr 0.1fr;
      grid-template-rows: 70px 0.95fr 0.95fr 0.1fr;
      grid-template-areas: "sidebar nav profile" "sidebar events profile" "sidebar events profile" "sidebar . .";
}

body main .sidebar {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: #4e63d9;
}

body main .sidebar .pro-circle {
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
}

body main .sidebar .side-links {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .sidebar .side-links svg {
  padding: 1em 1em;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

body main .sidebar .side-links svg:hover {
  background-color: #94b0e8;
}

body main .nav {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

body main .nav .input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .nav .input input {
  font-family: "oswald";
  font-size: 1em;
  width: 70%;
  height: 35px;
  border: none;
  background-color: #f3f5f9;
  border-radius: 50px;
  padding: 0 30px;
}

body main .nav .input .search-label {
  position: absolute;
  left: 90px;
}

body main .nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .nav .nav-links a {
  font-family: "oswald";
  font-weight: 400;
  text-decoration: none;
  padding: 0.5em 1.5em;
  color: #1c2559;
  border-radius: 50px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

body main .nav .nav-links a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body main .nav .nav-links .logout-btn {
  background-color: #81d8b0;
}

body main .nav .nav-links .logout-btn::after {
  position: absolute;
  display: block;
  content: "";
  background-image: url("entrance.svg");
  width: 10px;
  height: 10px;
}

body main .events {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: events;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body main .events .nested_nav {
  font-family: "montserrat";
  width: 85%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .events .create {
  border-radius: 10px;
  width: 90%;
  height: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

body main .events .create .event_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 10px 15px 20px;
  position: relative;
  width: 95%;
  margin: 0px auto;
  margin-bottom: 20px;
  height: 150px;
  border-radius: 10px;
  background-color: #f3f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .events .create .event_container .img_container {
  width: 120px;
  height: 120px;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
}

body main .events .create .event_container .event_info {
  height: 120px;
  width: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f5f9;
  display: inline-block;
  border-radius: 10px;
  margin-left: 20px;
  padding: 10px;
}

body main .events .create .event_container .event_info h3 {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

body main .events .create .event_container .more {
  right: 25px;
  bottom: 8px;
  position: absolute;
  border: none;
  border-radius: 5px;
  background-color: #f3f5f9;
  font-weight: bold;
}

body main .profile {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: profile;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main .profile .profile-cont {
  width: 85%;
  height: 97%;
  border-radius: 20px;
  background-color: #f3f5f9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
      grid-template-areas: "my-profile" "notifications";
}

body main .profile .profile-cont .my-profile {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: my-profile;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .profile .profile-cont .my-profile::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 70%;
  border-bottom: 2px solid #4e63d9;
}

body main .profile .profile-cont .my-profile img {
  border-radius: 50%;
}

body main .profile .profile-cont .my-profile .names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

body main .profile .profile-cont .my-profile .names h4 {
  font-family: "montserrat";
  font-size: 1.2em;
}

body main .profile .profile-cont .my-profile .names h4 .profession {
  font-family: "oswald";
  font-weight: 300;
  font-size: 0.8em;
}

body main .profile .profile-cont .notifications {
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: notifications;
}

body main .profile .profile-cont .notifications .notification-head {
  text-align: center;
  font-family: "montserrat";
  font-weight: 400;
}

body main .profile .profile-cont .notifications .current-notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=my_event.css.map */